html {
    --bg-color: white;
    --fg-color: black;
}
@media (prefers-color-scheme: dark) {
    body {
        --bg-color: black;
        --fg-color: white;
    }
}
body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: monospace;
    margin: auto;
}
button, input {
    border: 1px solid var(--fg-color);
    background-color: var(--bg-color);
    border-radius: 5px;
}
button:active {
    background-color: var(--fg-color);
    color: var(--bg-color);
}
